__pycache__/
*.pyc
.env
config/CONFIG.ENV
workspace/roberto/*
workspace/curioso/*
workspace/marley/*
!workspace/roberto/.gitkeep
!workspace/curioso/.gitkeep
!workspace/marley/.gitkeep
.venv/
*.egg-info/
dist/
build/
